<h1>Eldest director</h1>

<%y = Director.where.not({ :dob => nil }).order({ :dob => :asc }).at(0)%>

<p>The eldest director in our dataset right now is <%=y.name%>, born on <%=y.dob.strftime("%B %e, %Y")%> .</p>
