<h1>Youngest director</h1>



<%y = Director.where.not({ :dob => nil }).order({ :dob => :asc }).at(-1)%>

<p>The youngest director in our dataset right now is <%=y.name%>, born on <%=y.dob.strftime("%B %e, %Y")%> .</p>
